#container {
	width: 770px;
	height: 100%;
	margin: 0 auto
}

#titulo {
	float: left;
	font-size: 25pt;
	font-variant: small-caps;
	font-weight: bold;
}

#barra_menu {
	/* background: */
	min-height: 25px;
	padding: 3px;
	clear: both; 
}

#corpo {
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 300px;
}

#rodape {
	/* background: */
	height: 100px;
	margin-top: 5px;
	padding: 10px;
	text-align: center; 
}